body{
    background-image: url(background.jpg);
}
.head-banner {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  .image-container img {
    width: 100%;
    height: auto;
  }
  .image-info {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }